body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(hhttps://cdn-ak.f.st-hatena.com/images/fotolife/s/sh_manami_yamazaki/20200422/20200422143856.jpg);
    color: white;
    
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
  }
