header {
    width: 100%;
    background: #fff;
    padding: 15px;
    z-index: 999;
}

footer {
    background-color: #242424;
    padding: 40px 0;
    background-color:black;
}

.canpany-name {
    font-size: 30px;
    color: blue;

}

.main-content {
    position: absolute;
    width: 100%;
    height: 100%;
    
}
