header {
    width: 100%;
    background: #fff;
    padding: 15px;
    z-index: 999;
}

footer {
    background-color: #242424;
    padding: 40px 0;
}

.canpany-name {
    font-size: 30px;
    color:　blue;
    
}
